@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #e6f7ff;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative
}

.searchTerm {
  float: left;
  width: 100%;
  border: 5px solid #01A9F2;
  padding: 5px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  color: #000000;
  font-size: 25px;
  text-transform: uppercase;
}

.searchTerm::placeholder{
text-transform: none;
}

.searchButton {
  position: absolute;  
  right: -50px;
  width: 50px;
  height: 60px;
  border: 1px solid #01A9F2;
  background: #01A9F2;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container img {
  display: block;
  margin: 0 auto;
}

.slogan {
  height: 130px;
}

#sloganText {
  color: #81C000;
  font-size: 40px;
  text-align: center;
  font-family: 'Lato', sans-serif;
}
